.container {
    margin: 0 auto;
    width: 1200px;
}

.header {
    height: 100vh;
    background-image: url("../images/banner.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
        font-size: 80px;
        line-height: 106px;
    }

    &-top-text {
        font-size: 24px;
        line-height: 42px;
    }


    ul {
        display: flex;
        gap: 16px;
    }

    img {
        &:hover {
            transform: scale(1.1);
        }
    }
}

h2 {
    font-size: 64px;
    line-height: 84px;
}

h3 {
    line-height: 42px;
}

.about {
    ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 28px;
        border-top: 1px solid #000;

        .dot {
            display: flex;
            align-items: center;
        }
        .dot::before {
            content: '';
            width: 22px;
            height: 22px;
            background-color: #891818;
            border-radius: 100%;
            margin-right: 16px;
        }
    }
}

.content {
    background-color: #000000;
    border: 1px solid #707070;

    &-img {
        display: flex;
        justify-content: space-between;
    }
}

.other {
    ul {
        display: flex;
        flex-wrap: wrap;
        gap: 24px;
    }
    img {
        &:hover {
            transform: scale(1.1);
        }
    }
}

.footer {
    background-color: #000000;

    ul {
        
        display: flex;
        flex-direction: column;
        gap: 16px
    }
    
    a {
        &:hover {
            color: #891818;
        }
    }

}